@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: "Lato", sans-serif;
}

header {
    background-color: rgb(229, 84, 115, 0.10);
}

.container {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-text *{
    margin-bottom: 32px;
    max-width: 550px;
}

.banner-text h1 {
    color: rgba(39, 39, 39, 1);
    font-size: 58px;
    font-weight: 800;
    line-height: normal;
}

p {
    color: rgba(39, 39, 39, 0.6);
    /* font-size: 18px; */
    font-weight: 400;
    line-height: 30px;
    font-style: normal;
}

button {
    background-color: #E55473;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    padding: 15px 28px;
    cursor: pointer;
}

.banner-img img {
    width: 100%;
    margin-top: 20px;
    vertical-align: middle;
}

/* section part start */

.section-heading {
    max-width: 500px;
    text-align: center;
    margin: 30px auto;
}

.section-heading h2 {
    color: #272727;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 80px;
    margin-bottom: 10px;
}

.section-heading p {
    font-size: 14px;
}

#featured {
    padding: 100px 0;
}

.section-content {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 20px;
}

.section-content .flower .flower-img {
    width: 380px;
    height: 400px;
    border-radius: 300px 300px 0 0;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 20px;
}

.section-content .flower .flower-img img {
    width: 70%;
    padding: 20px 50px 0;
}

.section-content .flower p {
    text-align: center;
    margin: 20px;
    font-weight: 800;
    color: #272727;
    text-decoration: underline;
    cursor: pointer;
}


/* Person part added */
.person {
    background-color: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-evenly;    
    padding: 40px 0;
    margin-bottom: 60px;
}

.person-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.person-text p {
    color: #272727;
    margin-top: 10px;
}


/* deal part start */

.deal {   
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(229, 84, 115, 0.10);
}

.deal-text {
    max-width: 400px;
}

span {
    color: #E55473;
}

.deal-text h2 {
    color: #272727;
    font-size: 29px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 10px;
}

.deal-text p {
    text-align: center;
    color: #272727;
    font-size: 14px;
}

.deal-text button {
    text-align: center;
    margin: 15px 100px;
}

.deal-image img {
    width: 100%;
    padding: 60px 0;
}


/* Instagram part start */

.instagram-img img{
    width: 275px;
}